@charset "utf-8";
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:200;
	src:url('NotoSansKR-Light.eot'), 
	url('NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-Light.woff') format('woff'), 
	url('NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:300;
	src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'), 
	url('NotoSansKR-DemiLight.eot'), 
	url('NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-DemiLight.woff') format('woff'), 
	url('NotoSansKR-DemiLight.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:400;
	src:url('NotoSansKR-Regular.eot'), 
	url('NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-Regular.woff') format('woff'), 
	url('NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:500;
	src:url('NotoSansKR-Medium.eot'), 
	url('NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-Medium.woff') format('woff'), 
	url('NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:600;
	src:url('NotoSansKR-Bold.eot'), 
	url('NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-Bold.woff') format('woff'), 
	url('NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
	font-family:'Noto Sans Korean';
	font-style:normal;
	font-weight:800;
	src:url('NotoSansKR-Black.eot'), 
	url('NotoSansKR-Black.eot?#iefix') format('embedded-opentype'), 
	url('NotoSansKR-Black.woff') format('woff'), 
	url('NotoSansKR-Black.otf') format('opentype');
}